@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --bg: #ffffff;
  --text: #050505;
  --primary: #0866ff; /* Facebook Blue */
  --secondary: #e4e6eb;
  --card-bg: #f0f2f5;
  --accent: #11a0b9;
}

/* Define dark mode colors */
.dark {
  --bg: #18191a;
  --text: #e4e6eb;
  --primary: #0866ff;
  --secondary: #3a3b3c;
  --card-bg: #242526;
  --accent: #11a0b9;
}

body {
  background-color: var(--bg);
  color: var(--text);
}
