@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --bg: #f2f4f7;
  --bg-search: #f0f2f5;
  --text: #050505;
  --primary: #0866ff; /* Facebook Blue */
  --secondary: #ffffff;
  --card-bg: #f0f2f5;
  --accent: #11a0b9;
  --hover: #d6d9dd;
}

/* Define dark mode colors */
.dark {
  --bg: #18191a;
  --bg-search: #333334;
  --text: #e4e6eb;
  --primary: #0866ff;
  --secondary: #252728;
  --card-bg: #242526;
  --accent: #11a0b9;
  --hover: #3b3d3e;
}

body {
  background-color: var(--bg);
  color: var(--text);
  height: 100vh;
}

@layer utilities {
  .after\:bg-\[var\(--tw-after-bg\)\]::after {
    background-color: var(--tw-after-bg, #000); /* Fallback to black */
  }
}

/* mdxeditor */
/* .mdx-editor-container {
  background: red !important;
} */

.mdxeditor-root-contenteditable,
.mdxeditor-root-contenteditable * {
  color: var(--text) !important;
}
.mdxeditor-popup-container {
  z-index: 60 !important;
}

.mdxeditor-toolbar {
  background: var(--accent) !important;
  color: var(--text) !important;
  margin: 0 5px;
}

/* post bg */
.theme-sunset {
  background: linear-gradient(135deg, #ff5e62, #f09819);
}

.theme-ocean {
  background: linear-gradient(135deg, #2bc0e4, #eaecc6);
}

.theme-forest {
  background: linear-gradient(135deg, #134e5e, #71b280);
}

.theme-dusk {
  background: linear-gradient(135deg, #4b79a1, #283e51);
}

.theme-candy {
  background: linear-gradient(135deg, #ff9a9e, #fad0c4);
}
